body,html {
  margin: 0;
  /* background-color: #DB5461; */
  font-family: "Muli", sans-serif;
  height: 100%;
  background: linear-gradient(#DB5461, #00c8f3);
  
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 30px;
  height:80%;
}
h2 {
  padding: 0;
  margin: 0;
  text-align: center;
}

.login__container {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 40px;
  color: white;
  padding: 50px 30px;
  height: 100%;
  width: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.login__container--form {
  display: flex;
  flex-direction: column;
}

.login__container--form label {
  font-size: 14px;
}

.login__container--remember-me {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}

.login__container--remember-me a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}

.login__container--remember-me a:hover {
  cursor: pointer;
  text-decoration: underline;
  font-size: 15px;
}

.login__container--social-media > div {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.login__container--social-media > div > img {
  width: 30px;
  margin-right: 10px;
}

.login__container--register {
  font-size: 14px;
}

.login__container--register a {
  font-size: 15px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1px;
}

.login__container--register a:hover {
  text-decoration: underline;
  letter-spacing: 2px;
}

.input {
  background-color: transparent;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: solid 2px white;
  font-family: "Muli", sans-serif;
  margin-bottom: 20px;
  padding: 0px 20px;
  outline: none;
  height: 50px;
  font-size: 20px;
  color: white;
}

.input::placeholder {
  color: white;
}

.button {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-family: "Muli", sans-serif;
  font-weight: bold;
  border: solid 1px white;
  height: 40px;
  margin: 20px 0;
  letter-spacing: 3px;
}

.button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4);
  transition: 0.3s;
}